In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('train.csv')
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [12]:
# Fetching statistics for Elevation, Aspect, Slope, and Hydrology distances
elevation_summary = data['Elevation'].agg(['min', 'max', 'mean'])
slope_summary = data['Slope'].agg(['min', 'max', 'mean'])
horizontal_hydrology_summary = data['Horizontal_Distance_To_Hydrology'].agg(['min', 'max'])
vertical_hydrology_summary = data['Vertical_Distance_To_Hydrology'].agg(['min', 'max'])

# Counting specific soil types
soil_type_counts = data.filter(like='Soil_Type').sum().nlargest(3)

# Wilderness area appearances
wilderness_area_counts = data[[col for col in data.columns if 'Wilderness_Area' in col]].sum()

# Results
elevation_summary, slope_summary, horizontal_hydrology_summary, vertical_hydrology_summary, soil_type_counts, wilderness_area_counts

(min     1863.000000
 max     3849.000000
 mean    2749.322553
 Name: Elevation, dtype: float64,
 min      0.000000
 max     52.000000
 mean    16.501587
 Name: Slope, dtype: float64,
 min       0
 max    1343
 Name: Horizontal_Distance_To_Hydrology, dtype: int64,
 min   -146
 max    554
 Name: Vertical_Distance_To_Hydrology, dtype: int64,
 Soil_Type10    2142
 Soil_Type29    1291
 Soil_Type3      962
 dtype: int64,
 Wilderness_Area1    3597
 Wilderness_Area2     499
 Wilderness_Area3    6349
 Wilderness_Area4    4675
 dtype: int64)

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Assuming the data is loaded in df
plt.figure(figsize=(15, 10))

# Plot 1: Elevation distribution for Wilderness Area 1 vs others
plt.subplot(2, 2, 1)
sns.boxplot(x='Wilderness_Area1', y='Elevation', data=df)
plt.title('Elevation by Wilderness Area 1')

# Plot 2: Slope vs Elevation colored by Wilderness Area 1
plt.subplot(2, 2, 2)
plt.scatter(df[df['Wilderness_Area1']==0]['Slope'], 
         df[df['Wilderness_Area1']==0]['Elevation'], 
         alpha=0.5, label='Not Area 1')
plt.scatter(df[df['Wilderness_Area1']==1]['Slope'], 
         df[df['Wilderness_Area1']==1]['Elevation'], 
         alpha=0.5, label='Area 1')
plt.xlabel('Slope')
plt.ylabel('Elevation')
plt.legend()
plt.title('Slope vs Elevation by Wilderness Area 1')

# Plot 3: Hillshade patterns
plt.subplot(2, 2, 3)
sns.boxplot(x='Wilderness_Area1', y='Hillshade_Noon', data=df)
plt.title('Hillshade at Noon by Wilderness Area 1')

plt.tight_layout()
plt.show()

# Calculate correlations
correlations = df.corr()['Wilderness_Area1'].sort_values(ascending=False)
print("\nTop correlations with Wilderness Area 1:")
print(correlations.head())